*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
